body{
background-color:#8eb8e7;
}

.container{
background-color:  #8eb8e7;
}

p {
    font-family: "Arial", Times, serif;
    font-weight: bold
}

html {
    font-family: Arial , Georgia, Verdana;   
}