body{
background-color:#d9e9f0;
}

.container{
background-color:  #eecfe4;
}

p {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold
}

html {
    font-family: Lucida , Georgia, Verdana;   
}